
body {
    height : 93%; 
    margin:0; 
    background: yellow;
}

#container-1 {
    padding : 10px;
}

div {
    padding : 1px
}

#toolbar {
    margin-top : 20px
}

.select2-selection--single {
    height : 32px; !important
}